.values {
  width: 413px;
  background-color: #00474b;
  border-radius: 15px;
}
.valuesAmount {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 122px;
}
.values button {
  background-color: #26c2ae;
  width: 333px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #00474b;
  padding: 9px 0;
  border: 0;
  margin: 0 40px 40px 40px;
  transition: all 0.5s;
}
.values button:hover {
  background-color: #9fe8df;
}
.values h6 {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}
.values span {
  font-weight: 700;
  font-size: 13px;
  color: #7f9d9f;
}
.values h2 {
  color: #26c2ae;
  font-weight: 700;
  font-size: 48px;
}

@media (max-width: 920px) {
  .values {
    width: 355px;
    margin: 32px auto 0 auto;
  }
  .values h2 {
    font-size: 32px;
  }
  .valuesAmount {
    margin-bottom: 33px;
  }
  .values button {
    width: 300px;
    margin: 0 24px 22px;
  }
}
